{% extends "app/layout.html" %}

{% block content %}

{% load seeker %}

<div class="page-header iff-box-header">
  <h1>Guide {{ title }} <small>Select your favority Site to look at CI results</small></h1>
    <p>
        After you have selected the Site you want to visit, a Site Menu will appear. This Site Menu offers easy navigation.
        There are different types of Menu Items; the data-selection item assist in making data selections. The view-selection item
        offers a gallery of view options of how the selected data should be presented.
    </p>
</div>

<form action="" method="get" class="form-horizontal iff-box-content" id="guide_form">
    <div style="display: flex">
        <div style="flex: 0 1 15%; margin-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label for="sel2">Select your Site:</label>
                    <select name="site_select" class="form-control" id="site_select">
                    </select>
                    <input type="hidden" name="menu_name" value="">
                    <input type="hidden" name="step_name" value="">
                    <input type="hidden" name="view_name" value="">
                    <input type="hidden" name="tile_facet_field" value="">
                    <input type="hidden" name="tile_facet_value" value="">
                    <div class="vertical-menu" id="site_menu">
                </div>
            </div>
        </div>
        </div>
        <div style="flex: 0 1 15%; margin-right: 5px;">
            <div class="panel panel-default iff-box-content">
                <div class="panel-body">
                    <table>
                        {% for facet, selected in facets.items %}
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {% seeker_facet facet results selected %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table id="decision_table">
                    </table>
                </div>
            </div>
        </div>
        <div style="flex: 5 5 auto; padding-bottom:10px; padding-top:10px;">
            <ul class="nav nav-tabs" id="tabs">
                <li class="active"><a href="#site_menu_views_tab" data-toggle="tab">Views</a></li>
                <li class=""><a href="#results_tab" data-toggle="tab">Results</a></li>
                <li class=""><a href="#storyboard_tab" data-toggle="tab">Storyboard</a></li>
            </ul>

            <div class="tab-content" >
                <div class="tab-pane active" id="site_menu_views_tab" style="min-height: 500px">
                    <div class="panel panel-primary" style="min-height: 500px">
                        <div class="panel-body" id="view_style_div">
                            <div id="site_menu_views_div" style="display: flex; flex-wrap: wrap; min-height: 500px"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="results_tab" style="min-height: 500px">
                    <div class="panel panel-primary" style="min-height: 500px">
                        <div class="panel-body" id="results_style_div">
                            <div class="row">
                                <div id="images_div"></div>
                                <div id="gallery_div"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div id="carousel_names_div"></div>
                                </div>
                                <div class="col-md-10">
                                    <div id="carousel_div" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-controls">
                                            <ol id="carousel_ol" class="carousel-indicators"></ol>
                                            <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#carousel_div" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel_div" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <div id="carousel_slides_div" class="carousel-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="storyboard_tab">
                    <p></p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sel1">Storyboard, select your Dashboard:</label>
                                    <select name="storyboard" class="form-control" id="storyboard_select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sel1">Select your Tile-Facet:</label>
                                    <select name="tile_facet_select" class="form-control" id="tile_facet_select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sel1">Select your Tile-Value:</label>
                                    <select name="tile_value_select" class="form-control" id="tile_value_select">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container iff-padding-0" id="dashboard_div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% load staticfiles %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    {% load staticfiles %}
        <script src="{% static 'app/scripts/charts.js' %}"></script>
        <script src="{% static 'app/scripts/storyboard.js' %}"></script>
        <script src="{% static 'app/scripts/guide.js' %}"></script>

<script>
    guide_route("{{route_name}}", "{{step_name}}", {{ guide|safe }});
    site_route("{{site_name}}", "{{menu_name}}", "{{view_name}}", {{ sites|safe }}, {{ site_views|safe }}, {{ tiles_d|safe }});
</script>

{% endblock %}